// Compass global css reset
//@import "compass/reset";

//Get Normalize
//@include "../../bower_components/normalize-css/normalize.css";
// Compass css3 transitions

//@import "compass/css3";
//@import "compass/typography";

//@import "compass/reset";

@import "compass";
//@include global-reset;


$clientCommentGrey: #8e95a5;
$clientCommentDarkBlue: #525e7a;
$clientCommentCream: #f4f2ef;

.clientCommentButtonOpen{

	position: fixed;
	width: 380px;
	bottom: 0px;
	right: 30px;
	background: $clientCommentCream;
	z-index: 999999;
}

.clientCommentWrapper{

	font-family: arial, sans-serif;
	position: fixed;
	width: 380px;
	bottom: -1000px;
	right: 0px;
	background: $clientCommentCream;
	padding: 20px;
	z-index: 999999;
	@include box-shadow(0px 0px 5px 0px rgba(0, 0, 0, 0.25));
	@include single-transition(all, 0.3s, ease-in-out, 0ms);
	
	.clientCommentButtonClose{
		position: absolute;
		right: 5px;
		top: 5px;
	}
	.clientComment{
		float: left;
		margin-bottom: 20px;
		.avatar{
			@include border-radius(36px);
			float: left;
			margin-right: 10px;
		}
		p{
			color: $clientCommentDarkBlue;
		}
	}
	&.active{
		bottom: 0px;
	}
	textarea{
		border: 0px;
		@include border-radius(3px);
		outline: none;
		color: $clientCommentDarkBlue;
		font-size: 17px;
		font-weight: 900;
		width: 96%;
		padding: 2%;
	}
	input[type="submit"]{
		@include border-radius(3px);
		background: $clientCommentDarkBlue;
		color: white;
		font-size: 13px;
		border: 0px;
		padding: 7px 15px;
	}
}
